<!DOCTYPE html>
<html>
  <head>
    <title>Practice AJAX</title>
    <script type="text/javascript" src="/static/default2.js" async></script>
  </head>
  <body>
    <form id="form" action="/index" method="post" target="formSend">
      <label>Name:<input type="text" id="name" value="" /></label>
      <button type="button" id="btn-post" onclick="do_ajax();">Click</button>
      <div id="result"></div>
    </form>
    <form id="form2" action="/index" method="post" target="formSend">
      <label>Name:<input type="text" id="name2" value="" /></label>
      <button type="button" id="btn-post2">Click</button>
      <div id="result2"></div>
    </form>
    <iframe style="display: none" name="formSend"></iframe>
  </body>
</html>