<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb146a6d61.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/default.js" async></script>
    <title>Document</title>
</head>
<body>
    <div id="todoList" class="widget__content_todoList">
        <div class="todoList__head">            
            <div class="todoList__head_title -col">
                {% block content %}
                    {% if task.id_task != null %}
                    <div class="task__title">
                        <h2>{{ task.title }}</h2>                        
                    </div>                    
                    {% endif %}
                {% endblock content %}
            </div>
            <div class="todoList__head_dropDown">
                <label for="dropDown__task_button">
                    <i class="fas fa-ellipsis-v"></i>
                </label>
                <input id="dropDown__task_button" type="checkbox" name="" id="">
                <ul id="dropDown__content">
                    <li><button id="button_addTask">+ Add Task</button></li>
                    {% if task.id_task != null %}
                    <li><button id="button_removeTask">- Remove Task</button></li>
                    <li><button id="button_addAssignee">+ Add Ass</button></li>
                    <li><button id="button_addSubTask">+ Add SubTask</button></li>
                    {% endif %}
                    <li>
                        <form action="/" method="post" id="form_addTask" class="-hide">
                            <div class="-row">
                                <input type="text" name="add_task" id="">
                                <input type="submit" value="Ajouter">
                            </div>
                        </form>
                        <form action="/" method="post" id="form_removeTask" class="" data-id-task="{{ task.id_task }}">
                            <p id="noTask_alert" class="-hide">Aucune tache selectionée</p>
                            <div id="removeTask_confirm" class="-hide">
                                <div>
                                    <p>Etes vous sur de vouloir supprimer cette tache ?</p>
                                    <div class="-row">
                                        <input type="submit" name="remove_task" value="OK">
                                        <button type="button" onclick="hide('removeTask_confirm', form_removeTask)">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="/" method="post" id="form_addAssignee" class="-hide">
                            <div class="-row">
                                <input type="text" name="add_assignee" id="">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                        <form action="/" method="post" id="form_addSubTask" class="-hide">
                            <div class="-row">
                                <input type="text" name="add_subTask" id="">
                                <input type="submit" value="Ajouter">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="todoList todoList__body">
            <div id="errorMessage" class="-hide">
                <div>
                    <p id="errorMessage_content">{{ errorMessage }}</p>
                    <button id="errorMessage_ok">OK</button>
                </div>
            </div>
            <div>
            {% for subTask in subTasks %}
                <form action="/" method="POST" class="subTaskList__subTask -row -sb">
                    <div class="subTaskList__title">
                        <div class="-row">
                            <input type="checkbox" name="" id="" class="subTask_validator" data-subtask-state="{{ subTask.status }}">
                            <p class="subTask_title">{{ subTask.title }}</p>
                        </div>
                        <div class="form_editSubTask -hide">
                            <input type="submit" value="OK">
                            <input type="text" name="edit_subTask" value="{{ subTask.title }}">
                        </div>
                    </div>
                    <input type="hidden" name="id_subTask" value="{{ subTask.id_subtask }}">
                    <input type="hidden" name="subTask_state" class="subTask_state" value=1>
                    <div>
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                        <button name="remove_subTask" class="button_removeSubTask">Del</button>
                    </div>
                </form>                
            {% endfor %}
            </div>
        </div>
        <div class="todoList todoList__foot">
            <form action="/" method="POST" id="form_taskList">
                <select name="taskList" id="taskList">
                    <option selected hidden>Choisissez une tache</option>
                    {% for task in tasks %}
                    <option value="{{ task.id_task }}">{{ task.title }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</body>
</html>