<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/test.css">
    <script type="text/javascript" src="/static/test.js" async></script>
    <title>Document</title>
</head>
<body>
    <div id="todoList_${i}" class="widget__content_todoList">
        <div class="todoList todoList__head">
            <button id="button_addTask">+ Add Task</button>
            <button id="button_removeTask">- Remove Task</button>
            <form action="/" method="post" id="form_addTask" class="-hide">
                <input type="text" name="add_task" id="">
                <input type="submit" value="Ajouter">
            </form>
            <form action="/" method="post" id="form_removeTask" class="" data-id-task="{{ task.id_task }}">
                <p id="noTask_alert" class="-hide">Aucune tache selectionée</p>
                <div id="removeTask_confirm" class="-hide">
                    <p>Etes vous sur de vouloir supprimer cette tache ?</p>
                    <input type="hidden" name="id_task" value="{{ task.id_task }}">
                    <input type="submit" name="remove_task" value="OK">
                    <button type="button" onclick="hide('removeTask_confirm', form_removeTask)">Annuler</button>
                </div>
            </form>
        </div>
        <div class="todoList todoList__body">
            <div class="-col">
            {% block content %}
                {% if task.id_task != null %}
                <div class="-row -sb">
                    <h2>{{ task.title }}</h2>
                    <button style="height: 50%; margin-top: 25px;" id="button_addSubTask">+ Add SubTask</button>
                </div>                    
                <form action="/" method="post" id="form_addSubTask" class="-hide">
                    <input type="hidden" name="id_task" value="{{ task.id_task }}">
                    <div class="-row">
                        <input type="text" name="add_subTask" id="">
                        <input type="submit" value="Ajouter">
                    </div>
                </form>
                {% endif %}
            {% endblock content %}
            </div>
            <div>
            {% for subTask in subTasks %}
                <form action="/" method="POST" class="subTaskList__subTask">
                    <div class="subTaskList__title">
                        <p>{{ subTask.title }}</p>
                        <div class="form_editSubTask -hide">
                            <input type="text" name="edit_subTask" value="{{ subTask.title }}">
                            <input type="submit" value="OK">
                        </div>
                    </div>
                    <input type="hidden" name="id_subTask" value="{{ subTask.id_subtask }}">
                    <input type="hidden" name="id_task" value="{{ task.id_task }}">
                    <button type="button" class="button_editSubTask">Edit</button>
                    <button name="remove_subTask">Del</button>
                    <button>ASS</button>                    
                </form>                
            {% endfor %}
            </div>
        </div>
        <div class="todoList todoList__foot">
            <form action="/" method="POST" id="form_taskList">
                <select name="taskList" id="taskList">
                    <option selected hidden>Choisissez une tache</option>
                    {% for task in tasks %}
                    <option value="{{ task.id_task }}">{{ task.title }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</body>
</html>