<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page de test : {{ str }}</h1>
    <ul>
        {% for subTask in subTasks %}
        <li>{{ subTask.title }}</li>
        {% endfor %}
    </ul>
    <form action="/" method="post">
        <select>
            {% for task in tasks %}
            <option value="">{{ task.title }}, {{ task.date_created }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="afficher">
    </form><br>
    <h2>Ajout de tache</h2>
    <form action="/" method="POST">
        <input type="text" name="task_content" id="task_content" placeholder="Ajouter un tache">
        <input type="submit" value="ajouter">
    </form>
    <h2>Ajout de sous-tache</h2>
    <form action="/" method="POST">
        <input type="text" name="subTask_content" id="subTask_content" placeholder="Ajouter un sous tache">
        <input type="submit" value="ajouter">
    </form>
</body>
</html>