<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page de test</h1>
    <form action="/" method="post">
        <select>
            {% for task in tasks %}
            <option value="">{{ task.content }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="afficher">
    </form><br>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="ajouter">
    </form>
    {% for task in tasks %}
        <p>{{ task.content }}</p>
        <p>{{ task.date_created.date() }}</p>
    {% endfor %}
</body>
</html>